.custom-sider {
  .logo {
    height: 32px;
    margin: 16px;
    color: #21aa93;
    text-align: center;
    line-height: 32px;
    font-size: 17px;
    background-color: #f3f2ef;
    .logo_text{
      display: inline-block;
      vertical-align: 15px;
    }
  }
}